// {{.Tag}}ServerInterface represents all {{.Tag}} server handlers.
type {{.Tag}}ServerInterface interface {
{{range.Ops}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx echo.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) error
{{end}}
}
